.container{
    display: grid;
    border:1px solid black;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(2,1fr);
}

.item1{
    background: linear-gradient(from right bottom to top left, blue, red);
}
.item2{
    background: linear-gradient(to right, blue, red);
}
.item3{
    background: linear-gradient(to left, blue, red);
}
.item4{
    background: linear-gradient(to bottom, blue, red);
}